/* Write your global styles here, in PostCSS syntax */
@import 'https://unpkg.com/open-props@1.3.9/open-props.min.css';

:root {
  --body-background: var(--gray-9);
  --body-color: var(--gray-1);
  --body-font: Arial, -apple-system, BlinkMacSystemFont, ' Segoe UI ', Roboto, Oxygen, Ubuntu;

  --default: var(--gray-1);
  --default-light: var(--gray-3);
  --default-deep: var(--gray-6);

  --primary: var(--blue-1);
  --primary-light: var(--blue-3);
  --primary-deep: var(--blue-6);

  --secondary: var(--gray-2);
  --secondary-light: var(--gray-1);
  --secondary-deep: var(--gray-3);

  --controls-radius: var(--radius-1);
  --controls-color: var(--violet-1);
  --controls-background: var(--violet-4);
  --controls-background-light: var(--violet-2);
  --controls-background-deep: var(--violet-6);
  --controls-border: var(--border-size-2);
  --controls-lineHeight: 1;
  --controls-cursor: pointer;
  --controls-transition: var(--ease-in-2);
  --controls-padding: var(--size-2);
}

.debug,
.debug * {
  outline: 1px solid var(--red-7);
  background-color: var(--red-5);
  outline-offset: -1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-background);
  color: var(--body-color);
}

#svelte {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--primary-deep);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
} */

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.ml {
  margin-left: 1rem;
}

.mr {
  margin-right: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}
